.article-row-section {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.article-row-section-inner {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
}
@media print, screen and (min-width: 40em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
@media print, screen and (min-width: 40em) {
  .article-row-section-inner {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 83.33333%;
  }
}
@media print, screen and (min-width: 40em) and (min-width: 40em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.article-row-section-header {
  padding: 1.5rem 0;
  margin: 0;
  line-height: 1;
}
.article-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #e6e6e6;
  padding: 1.5rem 0;
}
@media print, screen and (min-width: 40em) {
  .article-row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.article-row-img img {
  width: 100%;
}
@media print, screen and (min-width: 40em) {
  .article-row-img img {
    max-width: none;
    width: auto;
  }
}
.article-row-content {
  padding: 1.5rem 0 0;
  color: #0a0a0a;
}
@media print, screen and (min-width: 40em) {
  .article-row-content {
    padding: 0 0 0 1.5rem;
  }
}
.article-row-content-header {
  font-size: 1.5rem;
}
.article-row-content-description {
  font-size: 1.25rem;
}
.article-row-content-author,
.article-row-content-time {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #8a8a8a;
}
.article-row-reversed .article-row-content {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1.5rem 0 0;
}
.article-row-reversed .article-row-img {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 1.5rem 0;
}
@media print, screen and (min-width: 40em) {
  .article-row-reversed .article-row-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .article-row-reversed .article-row-img {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.quote-inline-wrap-article-content {
  max-width: 100%;
  position: relative;
}
.quote-inline-wrap {
  float: left;
  max-width: 21.875rem;
  padding: 0 1rem 1rem 0;
}
.quote-inline-wrap .quote-inline-marks {
  font-size: 6.25rem;
  color: #8a8a8a;
  line-height: 1rem;
}
.quote-inline-wrap .quote-inline-testimonial {
  border-radius: 5px;
}
.quote-inline-wrap .quote-inline-testimonial p {
  font-weight: 300;
}
.quote-inline-wrap .quote-inline-person {
  margin-bottom: 1.5rem;
}
.quote-inline-wrap .quote-inline-person .quote-inline-photo img {
  border-radius: 50%;
  width: 4.375rem;
  height: 4.375rem;
  float: left;
  margin-right: 1rem;
}
.quote-inline-wrap .quote-inline-person p {
  position: relative;
  top: 5px;
}
.quote-inline-wrap .quote-inline-person p:nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}
.quote-inline-wrap .quote-inline-person p:nth-child(3) {
  font-size: 0.875rem;
  font-weight: 400;
  color: #8a8a8a;
}
@media screen and (max-width: 63.9375em) {
  .quote-inline-wrap {
    width: 100%;
    float: none;
    display: block;
  }
}